{% extends "network/layout.html" %}

{% block body %}
<div class="items-center flex justify-center flex-col w-1/3 mx-auto">

    <h2 class="text-3xl font-bold mb-4 mx-auto mt-12 text-white">Register</h2>

    {% if message %}
        <div class="text-red-500">{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post" class="max-w-md mx-auto mt-6 w-full px-6 py-12 border border-gray-600 rounded-3xl shadow-2xl">
        {% csrf_token %}
        <div class="mb-4">
            <label for="username" class="block font-medium mb-1 text-white">Username:</label>

            <input class="w-full border-solid border-2 rounded-lg py-2 px-4" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="mb-4">
            <label for="email" class="block font-medium mb-1 text-white">Email:</label>

            <input class="w-full border-solid border-2 rounded-lg py-2 px-4" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="mb-4">
            <label for="password" class="block font-medium mb-1 text-white">Password:</label>

            <input class="form-input w-full border-solid border-2 rounded-lg py-2 px-4" type="password" name="password" placeholder="Password">
        </div>
        <div class="mb-4">
            <label for="confirmation" class="block font-medium mb-1 text-white">Confirm Password:</label>

            <input class="w-full border-solid border-2 rounded-lg py-2 px-4" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="hover:bg-spectrum-h1 bg-white text-black cursor-pointer font-bold py-2 px-4 rounded border" type="submit" value="Register">
    </form>

    <p class="mt-4 mx-auto text-white">Already have an account? <a href="{% url 'login' %}" class="text-blue-500 hover:text-blue-700">Log In here.</a></p>

</div>

{% endblock %}